<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cookieconsent.insites.com/app/themes/insites-cookie-consent/cookieconsent/cookieconsent.min.css" />
  <link rel="stylesheet" type="text/css" href="css/clusterize.min.css">
  <link rel="stylesheet" type="text/css" href="css/idatabase.css">
  <style>
    .clusterize-headers {
      overflow: hidden;
    }
  </style>
</head>
<body style="margin-top: 70px">

<!-- Trigger the modal with a button -->
<!-- Metabolite Modal -->
<div id="cpd-model" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      -->
      <div class="modal-body">
        <div id="cpd-view-container">
          <div class="container"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="../index.html">BioDB</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Example Database</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">GitHub</a></li>
        <li><a href="#">Docker</a></li>
        <li><a href="#">Docs</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div>

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Compounds</a></li>
          <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Reactions</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <h1>Compounds</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">


                  <div class="clusterize">
                    <!--
                    <div class="clusterize-headers">
                      <table id="ctable-cpd-headers">
                        <thead>
                        <tr>
                          <th>Id</th>
                          <th>Name</th>
                          <th>Alias</th>
                          <th>Formula</th>
                          <th>#</th>
                          <th>References</th>
                          <th></th>
                        </tr>
                        </thead>
                      </table>
                    </div>
                    -->
                    <div id="ctable-cpd-scroll" class="clusterize-scroll" style="max-height: 600px">
                      <table class="table table-striped">
                        <tbody id="ctable-cpd-content" class="clusterize-content">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="profile">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <h1>Reactions</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="clusterize">
                    <div id="ctable-rxn-scroll" class="clusterize-scroll" style="max-height: 600px">
                      <table class="table table-striped">
                        <tbody id="ctable-rxn-content" class="clusterize-content">
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>




</div>
</body>


<script id="cpd-view-template-hmdb" type="text/template">
  <% //console.log(cpdData) %>
  <h4>Human Metabolome:</h4>
  <dl class="dl-horizontal">
    <% if (cpdData.cellularLocation) { %>
      <dt>Cellular</dt>
      <dd><%-cpdData.cellularLocation %></dd>
    <%} %>
    <% if (cpdData.biofluids) { %>
      <dt>Biofluids</dt>
      <dd><%-cpdData.biofluids %></dd>
    <%} %>
  </dl>
  <dl class="dl-horizontal">
    <% if (cpdData.applications) { %>
      <dt>Applications</dt>
      <dd><%-cpdData.applications %></dd>
    <%} %>
    <% if (cpdData.origins) { %>
      <dt>Origins</dt>
      <dd><%-cpdData.origins %></dd>
    <%} %>
    <% if (cpdData.biofuncions) { %>
      <dt>Biofunctions</dt>
      <dd><%-cpdData.biofuncions %></dd>
    <%} %>
  </dl>
</script>
<script id="cpd-view-template-bigg" type="text/template">
  <dl class="dl-horizontal">
    <dt>Models</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(cpdData.models, function(s) { %>
        <li><a href="http://bigg.ucsd.edu/models/<%- s %>" target="_blank"><%- s %></a></li>
        <%} );%>
      </ul>
    </dd>
  </dl>
</script>
<script id="cpd-view-template-modelseed" type="text/template">
  <dl class="dl-horizontal">
    <dt>ModelSEED</dt>
    <dd>
      <ul class="list-inline">
        Core: <%-cpdData.core %>
        Cofactor: <%-cpdData.cofactor %>
        deltag: <%-cpdData.deltag %>
        deltagerr: <%-cpdData.deltagerr %>
      </ul>
    </dd>
  </dl>
</script>
<script id="cpd-view-template-metacyc" type="text/template">
  <% console.log(cpdData); %>
  <h4>MetaCyc:</h4>
  <dl class="dl-horizontal">
    <% if (cpdData.parents) { %>
    <dt>Is a:</dt>
    <dd><%-cpdData.parents %></dd>
    <%} %>
    <% if (cpdData.instances) { %>
    <dt>Instances: </dt>
    <dd><%-cpdData.instances %></dd>
    <%} %>

    <% if (cpdData.activators) { %>
    <dt>Reactions activated by this compound: </dt>
    <dd><%-cpdData.activators %></dd>
    <%} %>

    <% if (cpdData.inhibitors) { %>
    <dt>Reactions inhibited by this compound: </dt>
    <dd>
      <% _.each(cpdData.inhibitors, function(e) { %>
        <%- e%>
      <%}); %>
    </dd>
    <%} %>
  </dl>
</script>
<script id="cpd-view-template" type="text/template">
  <% //console.log(cpdData) %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><%-cpdData.id %>: <small><%-cpdData.name %></small>
            <% if (cpdData.alias) { %>
              <small>(<%- cpdData.alias%>)</small>
            <%} %>
          </h1>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <dl class="dl-horizontal">
          <dt>Names</dt>
          <dd>
            <ul class="list-inline">
              <% _.each(cpdData.synonyms, function(s) { %>
                <li><%- s %></li>
              <%} );%>
            </ul>
          </dd>
          <% if (cpdData.formula) { %>
            <dt>Formula</dt>
            <dd><%-cpdData.formula %></dd>
          <%} %>
          <dt>Charge</dt>
          <dd>0</dd>
          <% if (cpdData.smiles) { %>
            <dt>Universal SMILES</dt>
            <dd>
              <div style="word-wrap: break-word">
                <%-cpdData.smiles %>
              </div>
            </dd>
          <%} %>
          <% if (cpdData.inchi) { %>
            <dt>InChI</dt>
            <dd>
              <div style="word-wrap: break-word">
                <%-cpdData.inchi %>
              </div>
            </dd>
          <%} %>
          <% if (cpdData.inchikey) { %>
            <dt>InChIKey</dt>
            <dd><%-cpdData.inchikey %></dd>
          <%} %>
        </dl>
        <h4>Lipid Data:</h4>

        <% _.each(cpdData.extra, function(v, k) { %>
          <%
             if (renderFunctions[k] && _.size(v)) { %>
             <div style="background-color: #e1fcf4; border-radius: 10px; padding-left: 10px">
             <%= renderFunctions[k]({cpdData: v}) %>
             </div>
          <%
             };
             console.log(k, v);
          %>
        <%})%>
      </div>
      <div class="col-md-3">
        <% if (cpdData.mol) { %>
          <%="<img src='data/structure/" + cpdData.id + ".svg'>"%>
        <%} %>

        <h4>Database Links:</h4>
        <% _.each(cpdData.references, function(s) { %>
          <%= getCpdLink(s.entry, s.source) %><br>
        <%} );%>
      </div>
    </div>
  </div>
</script>

<script id="rxn-view-template-bigg" type="text/template">
  <dl class="dl-horizontal">
    <dt>Pseudoreaction</dt>
    <dd><%- rxnData.pseudoreaction %></dd>
    <dt>Models</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.models, function(s) { %>
        <li><a href="http://bigg.ucsd.edu/models/<%- s %>" target="_blank"><%- s %></a></li>
        <%} );%>
      </ul>
    </dd>
  </dl>
</script>
<script id="rxn-view-template-kegg" type="text/template">
  <% console.log(rxnData) %>
  <dl class="dl-horizontal">
    <dt>Pathway</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.pathways, function(e) { %>
        <li> <%=getOtherLink(e, 'KeggPathway') %></li>
        <%} );%>
      </ul>
    </dd>
    <dt>Orthology</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.orthologs, function(e) { %>
        <li> <%=getOtherLink(e, 'KeggOrthology') %></li>
        <%} );%>
      </ul>
    </dd>
  </dl>
</script>
<script id="rxn-view-template-metacyc" type="text/template">
  <% console.log(rxnData) %>
  <dl class="dl-horizontal">
    <dt>physiologicallyRelevant</dt>
    <dd><%- rxnData.physiologicallyRelevant %></dd>
    <dt>orphan</dt>
    <dd><%- rxnData.orphan %></dd>
    <dt>gibbs</dt>
    <dd><%- rxnData.gibbs %></dd>
    <dt>activators</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.activators, function(e) { %>
        <li><a href="https://metacyc.org/META/NEW-IMAGE?type=NIL&object=<%-e.substring(5)%>" target="_blank"><%- e%></a></li>
        <%} );%>
      </ul>
    </dd>
    <dt>inhibitors</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.inhibitors, function(e) { %>
        <li><a href="https://metacyc.org/META/NEW-IMAGE?type=NIL&object=<%-e.substring(5)%>" target="_blank"><%- e%></a></li>
        <%} );%>
      </ul>
    </dd>
    <dt>Pathway</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.pathways, function(e) { %>
        <li><a href="https://metacyc.org/META/NEW-IMAGE?type=NIL&object=<%-e.substring(5)%>" target="_blank"><%- e%></a></li>
        <%} );%>
      </ul>
    </dd>
    <dt>uniprot</dt>
    <dd>
      <ul class="list-inline">
        <% _.each(rxnData.uniprot, function(e) { %>
        <li><%- e%></li>
        <%} );%>
      </ul>
    </dd>
  </dl>
</script>
<script id="rxn-view-template" type="text/template">
  <% console.log(rxnData) %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1><%-rxnData.id %>: <small><%-rxnData.name %></small>
            <% if (rxnData.alias) { %>
            <small>(<%- rxnData.alias%>)</small>
            <%} %>
          </h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="eqs-box">
          <%=renderEquationSHtml(rxnData, index) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <dl class="dl-horizontal">
          <dt>Names</dt>
          <dd>
            <ul class="list-inline">
              <% _.each(rxnData.synonyms, function(s) { %>
              <li><%- s %></li>
              <%} );%>
            </ul>
          </dd>
          <% if (rxnData.ecn) { %>
          <dt>EC Number</dt>
          <dd><%-rxnData.ecn %></dd>
          <%} %>
          <dt>Equation</dt>
          <dd><%=rxnData.equation %></dd>
          <% if (rxnData.smiles) { %>
          <dt>Universal SMILES</dt>
          <dd>
            <div style="word-wrap: break-word">
              <%-rxnData.smiles %>
            </div>
          </dd>
          <%} %>
          <% if (rxnData.inchi) { %>
          <dt>InChI</dt>
          <dd>
            <div style="word-wrap: break-word">
              <%-rxnData.inchi %>
            </div>
          </dd>
          <%} %>
          <% if (rxnData.inchikey) { %>
          <dt>InChIKey</dt>
          <dd><%-rxnData.inchikey %></dd>
          <%} %>
        </dl>
        <h4>Lipid Data:</h4>

        <% _.each(rxnData.extra, function(v, k) { %>
        <%
        if (rxnPluginFunctions[k] && _.size(v)) { %>
        <div style="background-color: #e1fcf4; border-radius: 10px; padding-left: 10px">
          <%= rxnPluginFunctions[k]({rxnData: v}) %>
        </div>
        <%
        };
        console.log(k, v);
        %>
        <%})%>
      </div>
      <div class="col-md-3">

        <h4>Database Links:</h4>
        <% _.each(rxnData.references, function(s) { %>
        <%-s.source %>: <%=getRxnLink(s.entry, s.source) %><br>
        <%} );%>
      </div>
    </div>
  </div>
</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/scroller/1.4.2/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/clusterize-0.18.0.min.js"></script>
<script type="text/javascript" src="js/bios/bios-clusterize.js"></script>
<script type="text/javascript" src="js/idatabase.js"></script>
<script type="text/javascript" src="js/render-hmdb.js"></script>
<script type="text/javascript" src="js/render-bigg.js"></script>
<script type="text/javascript" src="js/render-kegg.js"></script>
<script type="text/javascript" src="js/render-metacyc.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script type="text/javascript" src="js/js.js"></script>
</html>